version: '3.8'
services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: shivam
      POSTGRES_PASSWORD: password123
      POSTGRES_DB: order_engine
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"

volumes:
  pgdata: